/* .prose {
  background-color: blue;
}

.prose h2 {
  color: red;
  line-height: 0;
  background-color: yellow;

}

.prose p {
  background-color: red;
  
} */


.prose .code-img{
  margin-top: 0;
  margin-bottom: 0;
}